.todo-container {
    background-color: #66347F;
    padding: 2rem 0;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
}

.todo:first-child {
    margin-top: 0;
}

.text {
    width: 200px;
    word-wrap: break-word;
}

.status {
    background-color: #37306B;
    padding: .5rem .75rem;
    border-radius: 4px;
}

.btn {
    cursor: pointer;
}